<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/CSS")
    @Scripts.Render("~/bundles/modernizr")
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="navbar navbar-dark fixed-top navbar-expand-lg navbar-toggleable-sm">
        <div class="container">
            <div class="navbar-brand">
                <img src="~/Content/Images/nmhc-logo-white.svg" alt="Newcastle Medics Hockey Club Logo" height="90rem" class="navbar-brand d-none d-sm-none d-md-inline" />
                @Html.ActionLink("Newcastle Medics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav mr-auto">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Play", "Play", "Home", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Committee", "Committee", "Home", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    @RenderBody()
    <div class="container footer-div">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Newcastle Medics</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/select2")
    @RenderSection("scripts", required: false)
</body>
</html>
